*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    box-shadow:0px 2.5px 15px rgb(0 0 0 / 25%)
}
nav img{
    width: 6%;
    margin: 10px 15px;
}
/* section1 styling */
.gridsection{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.gridsection >img ,.gridsection h1,.gridsection span{
    width: 80%;
    margin: auto;
}
/* cards section */
.cardsection{
    display: flex;
    justify-content: space-evenly;
}
.cardbox{
    display: flex;
    flex-direction: column;
    width: 230px;
}
.cardbox img{
    border-radius: 12px;
    margin: 10px 0px;
}
.cardbox .cardinfo img{
    width: 20px;
    margin: -1px 0px;
}
.cardbox span{
    margin: 3px;
}
